.navlist.open{
  display: block;
}

canvas{
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  width: 800px;
  
}

@media (max-width: 1024px) {
  canvas{
    transform: scale(0.8) translateX(200px);
    transform-origin: top;
  }
}
@media (max-width: 800px) {
  canvas{
    transform: scale(0.7) translateX(600px);
  }
}
@media (max-width: 600px) {
  canvas{
    transform: scale(0.4) translateX(-144px);
    right: auto;
    left: 50%;
    margin-left: -600px;
  }
}
@media (max-width: 375px) {
  canvas{
    transform: scale(0.45) translateX(-50px);
  }
}

